react
axios
axios-hooks
react-router-dom
node-sass
react-cookie
antd
antd-img-crop
react-cookie
redux@4.1.2 react-redux @reduxjs/toolkit
redux-persist
react-simple-image-slider
query-string
react-use-websocket